/* ================================= 
  Base Element Styles
==================================== */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fdf7ff;
  margin: 0;
}

.name {
  text-align: center;
  font-size: 1.5em;
}

ul.main-nav {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

ul.main-nav li {
  background-color: white;
  padding: 10px 0;
  margin: 5px 15px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}  

a:link {
  color: initial;
}

.profile-intro {
  text-align: center;
  font-size: 1.25em;
  margin: 0 30px 40px;
}

.profile-pic {
  display: block;
  max-width: 100%;
  margin: 30px auto;
}

img {
  max-width: 100%;
}

main {
  background-color: white;
  padding-top: 20px;
}

section {
	max-width: 300px;
	margin: 10px auto 40px;
}

h2, h3, section p {
	text-align: center;
}

.blurb {
	width: 90%;
	margin: 0 auto;
}

/* ================================= 
  Base Layout Styles
==================================== */

.wrapper {
  margin: 30px auto;
}

.portfolio-wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 1216px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  
  ul.main-nav li {
    display: inline-block;
	  background-color: initial;
  }  
  
  ul.main-nav li:nth-child(2) {
	  margin: 0 40px;
  }
  
  .profile-intro {
    text-align: left;
  }
  
  .profile-pic {
    float: right;
    content: url("../images/responsive-layout-profile-tablet.png");
    margin: 0 30px 50px;
  }
  
  section {
	  display: inline-block;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;	  
  }
  
}

@media (min-width: 768px) and (max-width: 1023px) {
  
  section {
    max-width: 340px;
  }     
  
  section:nth-child(odd) {
    margin: 10px 5px 40px 0;
  }
  
  section:nth-child(even) {
    margin: 10px 0 40px 5px;
  }
  
  #thumbnail_1 {
    content: url("../images/portfolio-1-medium.png");
  }
  
  #thumbnail_2 {
    content: url("../images/portfolio-2-medium.png");
  }
  
  #thumbnail_3 {
    content: url("../images/portfolio-3-medium.png");
  }
  
  #thumbnail_4 {
    content: url("../images/portfolio-4-medium.png");
  }
  
  #thumbnail_5 {
    content: url("../images/portfolio-5-medium.png");
  }
  
  #thumbnail_6 {
    content: url("../images/portfolio-6-medium.png");
  }
  
}

@media (min-width: 1024px) {
  
  .name {
    float: left;
	  margin-left: 30px;
  }
  
  ul.main-nav li:nth-child(3) {
    margin-right: 0;
  }
  
  .main-nav {
    float: right;
    margin-right: 30px;
  }
  
  .profile-pic {
    content: url("../images/responsive-layout-profile.png");
  }
  
  
  section {
    max-width: 300px;
    height: 330px;
    overflow: hidden;
  }
  
  section:nth-child(3n+2) {
    margin: 10px 5px 40px;
  }
  
  main {
    margin: 0 30px;
  }
  
}