/* ================================= 
  Base Element Styles
==================================== */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fdf7ff;
  margin: 0;
}

.name {
  text-align: center;
  font-size: 1.5em;
}

ul.main-nav {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

ul.main-nav li {
  background-color: white;
  padding: 10px 0;
  margin: 5px 15px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}  

a:link {
  color: initial;
}

.profile-intro {
  text-align: center;
  font-size: 1.25em;
  margin: 0 30px 40px;
}

img {
  display: block;
  max-width: 100%;
  margin: 30px auto;
}

main {
  background-color: white;
  padding-top: 20px;
}

section {
	margin: 10px auto;
}

h2, h3, section p {
	text-align: center;
}

/* ================================= 
  Base Layout Styles
==================================== */

.wrapper {
  margin: 30px auto;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  
  ul.main-nav li {
    display: inline-block;
	background-color: initial;
  }  
  
  ul.main-nav li:nth-child(2) {
	margin: 0 40px;
  }
  
  .profile-intro {
	text-align: left;
  }
  
  .profile-pic {
	float: right;
	content: url("../images/responsive-layout-profile-tablet.png");
	margin: 0 30px 50px;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;	  
  }
  
}

@media (min-width: 1023px) {
  
  .name {
    float: left;
	margin-left: 50px;
  }
  
  ul.main-nav li:nth-child(3) {
    margin-right: 0;
  }
  
  .main-nav {
	float: right;
	margin-right: 50px;
  }
  
  .profile-pic {
	margin-right: 50px;
    content: url("../images/responsive-layout-profile.png");
  }
  
  .profile-intro {
    margin-left: 50px;
  }
  
}